<%= content_for :title, "Meus Desafios"%>
<div class="container landing-page">
  <div class="banner">
    <div class="banner-content">
      <h1>Bem Vindo ao meusdesafios.com</h1>
      <p>Alcance os seus objetivos se desafiando</p>
      <div class="buttons-landing">
        <%= link_to "Explorar",challenges_path, class: "btn btn-danger btn-lg button button-red buttons-landing" %>
        <%= link_to "Me Desafiar",new_challenge_path, class: "btn btn-primary btn-lg button buttons-landing" %>
      </div>
    </div>
  </div>

  <div class="how-works">
    <h3>Como Funciona</h3>
    <div class="row">

      <div class="col-sm-4 col-xs-12">
        <h1 class="step-number">1</h1>
        <div class="card card-how-works" id="first-step">
          <p>Crie um desafio.</p>
          <p>Defina uma meta e escolha a data de início e fim.</p>
          <p>Por fim, defina um valor.</p>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12">
        <h1 class="step-number">2</h1>
        <div class="card card-how-works" id="second-step">
          <p>Convide amigos para participar do seu desafio.</p>
          <p>Agora parte do valor do seu desafio será disputado entre vocês.</p>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12">
        <h1 class="step-number">3</h1>
        <div class="card card-how-works" id="third-step">
          <p>Se você completar o desafio, você recebe o seu dinheiro mais o do seus amigos.</p>
          <p>Se você não completar o desafio, seu dinheiro é doado para uma instituição de caridade.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="experiences">
    <h3>Depoimentos</h3>

    <div class="row align-center">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="experience-img text-center">
          <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518028331/camila_xqbllx.jpg') %>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="user-experience">
          <p>Perdi 10kgs utilizando o meusdesafios.com.</p>
          <p>Adorei a experiência, com certeza me motivou muito a conquistar meus objetivos.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
        <div class="user-experience">
          <p>Criei o desafio de parar de fumar e consegui.</p>
          <p>Hoje sou livre do vício e muito mais feliz, graças ao meusobjetivos.com.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="experience-img text-center">
          <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518028345/marcelo_w4npdt.jpg') %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="experience-img text-center">
          <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518028354/fernanda_eqpsfg.jpg') %>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="user-experience">
          <p>O meusdesafios.com me ajudou a conquistar meu primeiro carro.</p>
          <p>Juntei um pouco cada mês com ajuda da plataforma.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="charity-institutions">
    <h3>Instituições de Caridade</h3>
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518028015/instituto_ayrton_senna_h4ybfv.png') %>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518028018/instituto_cancer_infantil_thgz7f.png') %>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518028034/sos-mata-atlantica_ci6xdq.png') %>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518027974/abrace_z0riju.png') %>
      </div>
    </div>
  </div>
</div>
