<%= content_for :title, "Meus Desafios"%>
<div class="container landing-page">
  <div class="banner">
    <div class="banner-content">
      <h1>Bem-vindo ao </h1><span class="logo">meusdesafios.com</span>
      <p>Alcance os seus objetivos se desafiando</p>
      <div class="buttons-landing">
        <%= link_to "Explorar",challenges_path, class: "button button-explore" %>
        <%= link_to "Me Desafiar",new_challenge_path, class: "button button-challenge buttons-landing" %>
      </div>
    </div>
  </div>

  <div class="how-works">
    <h3>Como Funciona</h3>
    <div class="row">

      <div class="col-sm-4 col-xs-12">
        <div class="wrapper">
          <div class="header">
            <div class="content">
              <h2>Crie um desafio</h2>
              <h2>Defina uma meta</h2>
              <h2>Defina um valor</h2>
            </div>

            <img class="curve" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/626071/bottom-curve_copy.svg">
            <img class="waves" src="http://res.cloudinary.com/danielphr/image/upload/v1518791564/waves_orange_uhernm.svg">
          </div>
        </div>
        <div class="background"></div>
      </div>


      <div class="col-sm-4 col-xs-12">
        <div class="wrapper">
          <div class="header">
            <div class="content">
              <h2>Convide seus amigos</h2>
              <h2>Comece a disputa</h2>
              <h2>Publique seu progresso</h2>
            </div>

            <img class="curve" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/626071/bottom-curve_copy.svg">
            <img class="waves" src="http://res.cloudinary.com/danielphr/image/upload/v1518791564/waves_orange_uhernm.svg">
          </div>
        </div>
        <div class="background"></div>
      </div>

      <div class="col-sm-4 col-xs-12">
        <div class="wrapper">
          <div class="header">
            <div class="content">
              <h2>Complete o desafio</h2>
              <h2>Receba seu dinheiro de volta</h2>
              <h2>Doe para uma instituição</h2>
            </div>

            <img class="curve" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/626071/bottom-curve_copy.svg">
            <img class="waves" src="http://res.cloudinary.com/danielphr/image/upload/v1518791564/waves_orange_uhernm.svg">
          </div>
        </div>
        <div class="background"></div>
      </div>
<!--
      <div class="col-sm-4 col-xs-12">
        <div class="card card-how-works" id="third-step">
          <p>Se você completar o desafio, você recebe o seu dinheiro mais o do seus amigos.</p>
          <p>Se você não completar o desafio, seu dinheiro é doado para uma instituição de caridade.</p>
        </div>
      </div> -->

    </div>
  </div>

  <div class="experiences">
    <h3>Depoimentos</h3>

    <div class="row align-center">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="experience-img text-center">
          <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518028331/camila_xqbllx.jpg') %>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="user-experience">
          <p>Perdi 10kgs utilizando o meusdesafios.com.</p>
          <p>Adorei a experiência, com certeza me motivou muito a conquistar meus objetivos.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
        <div class="user-experience">
          <p>Criei o desafio de parar de fumar e consegui.</p>
          <p>Hoje sou livre do vício e muito mais feliz, graças ao meusobjetivos.com.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="experience-img text-center">
          <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518028345/marcelo_w4npdt.jpg') %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="experience-img text-center">
          <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518028354/fernanda_eqpsfg.jpg') %>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="user-experience">
          <p>O meusdesafios.com me ajudou a conquistar meu primeiro carro.</p>
          <p>Juntei um pouco cada mês com ajuda da plataforma.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="charity-institutions">
    <h3>Instituições de Caridade</h3>
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518028015/instituto_ayrton_senna_h4ybfv.png') %>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518028018/instituto_cancer_infantil_thgz7f.png') %>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518028034/sos-mata-atlantica_ci6xdq.png') %>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <%= image_tag('http://res.cloudinary.com/danielphr/image/upload/v1518027974/abrace_z0riju.png') %>
      </div>
    </div>
  </div>
</div>
