<div class="container hidden" id="progress-form">
  <%= simple_form_for [@challenge, @progress] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :date %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <button class="form-progress-button" onclick="hiddeProgressForm()"><%= f.submit 'Add a progress to Challenge', class: "btn btn-primary" %></button>

  <% end %>
</div>
