<% @challenges.each do |challenge| %>
  <h3><%= challenge.title %></h3>
  <h3><%= challenge.description %></h3>
  <h3><%= challenge.start_date %></h3>
  <h3><%= challenge.end_date %></h3>
  <h3>R$ <%= challenge.value %></h3>
  <h3>R$ <%= challenge.completed %></h3>
  <hr>
<% end %>
