<div class="container">
  <% @challenges.each do |challenge| %>
      <%= link_to challenge_path(challenge) do %>
        <div class="card card-challenge-index">
          <div class="card-image-index">
            <%= cl_image_tag(challenge.user.photo,
            width: 120, height: 120, crop: :fill) %>
          </div>
          <div class="card-title-index">
            <h1><%= challenge.title %></h1>
          </div>
          <div class="card-date-index">
            <% if challenge.completed %>
              <%= icon("check-circle", class: "check-challenge-completion") %><span> Desafio Alcançado</span>
            <% else %>
              <h3>Faltam <span class="date-left"><%= (challenge.end_date - Date.today).to_i %></span> dias</h3>
            <% end %>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
