<%= content_for :title, "Desafio"%>
<div class="container">
    <div class="card card-challenge-show">
      <% if policy(@challenge).invite? %>
        <div class="card-invite">
          <%= icon('user-plus', id: 'invite-user') %>
        </div>
      <% end %>
      <div class="card-image">
        <%= cl_image_tag(@challenge.user.photo,
        width: 200, height: 200, crop: :fill) %>
      </div>
      <div class="card-title">
        <h1><%= @challenge.title %></h1>
      </div>
      <div class="card-description">
        <p><%= @challenge.description %></p>
      </div>
      <div class="card-date">
        <% if @challenge.completed %>
          <%= icon("check-circle", class: "check-challenge-completion") %><span> Desafio Alcançado</span>
        <% else %>
          <h3>Faltam <span class="date-left"><%= (@challenge.end_date - Date.today).to_i %></span> dias</h3>
        <% end %>
      </div>
      <div class="card-start-date">
        <p>Início: <%= @challenge.start_date.strftime("%d/%m/%y") %> </p>
      </div>
      <div class="card-info">
        <p>R$ <%= @challenge.value %>,00</p>
      </div>
    </div>

    <div class="flex-space-around">
      <h1>Meus Progressos</h1>
      <button class="form-progress-button" onclick="displayProgressForm()"><%= icon("comments", class: "icon-button-progress") %></button>
    </div>

    <%= render "form_progress" %>

    <% @progresses.each do |progress| %>
      <div class="card card-progress" id="new-progress">
        <h3><%= progress.title %></h3>
        <div class="progress-img">
          <%= cl_image_tag(progress.user.photo, width: 60, height: 60, crop: :fill) %>
        </div>
        <p><%= progress.user.first_name + " " + progress.user.last_name %></p>
        <p><%= progress.description %></p>
        <p>Postado em <%= progress.date %></p>
      </div>
    <% end %>
</div>


<div class="sidebar">
  <%= icon('sliders', id: "sidebar-btn") %>
  <div id="bets">
    <h3>Bets</h3>
    <% @bets.each do |bet| %>
        <% if bet.accepted == "accepted" %>
          <div class="card card-bet accepted">
        <% elsif bet.accepted == "declined" %>
          <div class="card card-bet declined">
        <% elsif bet.accepted == "waiting_confirmation" %>
          <div class="card card-bet waiting_confirmation">
        <% end %>
          <div class="bet-img">
            <%= cl_image_tag(bet.user.photo, width: 60, height: 60, crop: :fill) %>
          </div>
          <h3><%= bet.user.first_name + " " + bet.user.last_name %></h3>
          <% if bet.accepted == "accepted" %>
            <p>R$<%= bet.value %></p>
          <% end %>
        </div>
    <% end %>
  </div>
</div>


<!-- The Modal -->
<div id="add-bet-modal" class="bet-modal">

  <!-- Modal content -->
  <div class="bet-modal-content">
    <span class="close" id="modal-close">&times;</span>
    <h3>Convide um amigo</h3>
    <div class="search">
      <%= form_tag challenge_path(@challenge), method: :get do %>
        <div class="search-bar">
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Ache um Amigo" %>
        </div>
        <div class="search-btn">
          <%= submit_tag "Pesquise" %>
        </div>
        <ul id="search-users">
          <% @users.each do |user| %>
            <li class="search-user" id="user-<%= user.id %>">
              <div class="user-img">
                <%= cl_image_tag(user.photo,
                    width: 60, height: 60, crop: :fill) %>
              </div>
              <p><%= user.try(:first_name) + " " + user.try(:last_name) %></p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="modal-btns">
      <button id="btn-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <span id="authenticity_token">
        <%= form_authenticity_token %>
      </span>
      <button id="btn-ok" type="button" class="btn btn-primary">Convidar</button>
    </div>
  </div>
</div>
