<div class="container">
  <div class="card card-challenge-show">
    <div class="card-invite">
      <%= icon('user-plus', id: 'invite-user') %>
    </div>
    <div class="card-image">
      <%= cl_image_tag("http://res.cloudinary.com/danielphr/image/upload/v1517429633/fctooe8cfedfsxz8eunv.jpg",
      width: 200, height: 200, crop: :fill) %>
    </div>
    <div class="card-title">
      <h1><%= @challenge.title %></h1>
    </div>
    <div class="card-description">
      <p><%= @challenge.description %></p>
    </div>
    <div class="card-dates">
      <div class="date-start">
        <p><%= @challenge.start_date %></p>
      </div>
      <div class="date-end">
        <p><%= @challenge.end_date %></p>
      </div>
    </div>
    <div class="card-info">
      <p>R$ <%= @challenge.value %></p>
      <p>R$ <%= @challenge.completed %></p>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="add-bet-modal" class="bet-modal">

  <!-- Modal content -->
  <div class="bet-modal-content">
    <span class="close" id="modal-close">&times;</span>
    <h3>Convide um amigo</h3>
    <div class="search">
      <%= form_tag challenge_path(@challenge), method: :get do %>
        <div class="search-bar">
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Ache um Amigo" %>
        </div>
        <div class="search-btn">
          <%= submit_tag "Pesquise" %>
        </div>
        <ul>
          <% @users.each do |user| %>
            <li>
              <div class="search-user">
                <div class="user-img">
                  <%= cl_image_tag(user.photo,
                    width: 60, height: 60, crop: :fill) %>
                </div>
                <p><%= user.try(:first_name) + " " + user.try(:last_name) %></p>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="modal-btns">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-primary">Convidar</button>
    </div>
  </div>

</div>
